.title {
  h1 {
    color: $primary;
    font-size: 1.2rem;
    letter-spacing: 2px;
    font-weight: normal;
  }

  h2,
  p {
    text-align: center;
  }

  h2 {
    margin-top: 60px;
    font-size: 2.6rem;
  }
}
